<div>
  <h1>{{title}}</h1>

  <div class="cartContainer">
    {{#each products}}
    <div class="prodContainer">
      <h2>{{this.title}}</h2>
      <p>Precio: ${{this.price}}</p>
      <p>Descripción: {{this.description}}</p>
      <img src="{{this.img}}" />
      <p>Stock: {{this.stock}}</p>
      <p>ID: {{this.id}}</p>
    </div>
    {{/each}}
  </div>
</div>